html{
    outline:none;
}

body {
    outline:none;
}

/* Sticky BUTTON CSS */
  #buttonBox {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}

.button {
    padding: 10px;
    font-size: 20px;
    position: relative;
    border-radius: 5px;
    transition: 400ms;
    outline:none;
}

.default {
    color: mintcream;
    border:5px solid slategrey;
    background-color:slategray;
}
.default:hover {
    background-color:#445158;
    border-color: #445158;
    outline: none;
}

.activated {
    color: slategray;
    background-color: mintcream;
    border: 5px solid slategray;
}

.activated:hover {
    color: #445158;
    background-color: #e0fff0;
    border: 5px solid #445158;

}  
/* END STICKY BUTTON CSS */

.BigRedButton {
    color: #FFFFFF;
    padding: 10px;
    font-size: 20px;
    position: relative;
    border:2px solid black;
    border-radius: 5px;
    background-color:#B00E0A;
    transition: 400ms;
    outline:none;
}

.BigRedButton:hover {
    background-color: #f1120e;
}